<template>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ stock.name }}
                    <small>(Price: {{ stock.price }} | Quantity: {{ stock.quantity }})</small>
                </h3>
            </div>
            <div class="panel-body">
                <div class="pull-left">
                    <input
                            type="number"
                            class="form-control"
                            placeholder="Quantity"
                            v-model="quantity"
                            :class="{danger: insufficientQuantity}"
                    >
                </div>
                <div class="pull-right">
                    <button
                            class="btn btn-success"
                            @click="sellStock"
                            :disabled="insufficientQuantity || quantity <= 0 || Number.isInteger(quantity)"
                    >{{ insufficientQuantity ? 'Not enough' : 'Sell' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .danger {
        border: 1px solid red;
    }
</style>

<script>
    import {mapActions} from 'vuex';

    export default {
        props: ['stock'],
        data() {
            return {
                quantity: 0
            }
        },
        computed: {
          insufficientQuantity() {
              return this.quantity > this.stock.quantity;
          }
        },
        methods: {
            ...mapActions({
                placeSellOrder: 'sellStock'
            }),
            async sellStock() {
                const order = {
                    stockId: this.stock.id,
                    stockPrice: this.stock.price,
                    quantity: this.quantity,
                };
                 const orderSell = {
                    name: this.stock.name,
                    stockId: this.stock.id,
                    price: this.stock.price,
                    quantity: this.quantity,
                    time: new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds(),
                    date: (new Date()).toLocaleDateString(),
                    type: "sell"
                };
                this.placeSellOrder(order);
                console.log("order::", orderSell)
                const transactionSell = {
                    history: [orderSell]
                }
                console.log("ttt:", transactionSell.history)
                await this.$http.get('transaction.json')
                .then(response => response.json())
                .then(data => {
                    if(data != null){
                    transactionSell.history.push(...(data.history))
                    console.log("data:", data.history, transactionSell);
                    // this.$http.delete('transaction.json')
                    return data.history;
                    }
                    return;
                })
                this.$http.put('transaction.json', transactionSell);

                this.quantity = 0;
            }
        }
    }
</script>