<template>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ stock.name }}
                    <small>(Price: {{ stock.price }})</small>
                </h3>
            </div>
            <div class="panel-body">
                <div class="pull-left">
                    <input
                            type="number"
                            class="form-control"
                            placeholder="Quantity"
                            v-model="quantity"
                            :class="{danger: insufficientFunds}"
                    >
                </div>
                <div class="pull-right">
                    <button
                            class="btn btn-success"
                            @click="stockUpdate"
                            :disabled="insufficientFunds || +quantity <= 0 || !Number.isInteger(+quantity)"
                    >{{ insufficientFunds ? 'Insufficient Funds' : 'Buy' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .danger {
        border: 1px solid red;
    }
</style>

<script>
    export default {
        props: ['stock'],
        data() {
            return {
                quantity: 0
            }
        },
        computed: {
            funds() {
                return this.$store.getters.funds;
            },
            insufficientFunds() {
                return this.quantity * this.stock.price > this.funds;
            }
        },
        methods: {
            async stockUpdate() {
                await this.buyStock();
                await this.putTransaction();
            },
            async buyStock() {
                const data = {
                    funds: this.$store.getters.funds,
                    stockPortfolio: this.$store.getters.stockPortfolio,
                    stocks: this.$store.getters.stocks
                };
                this.$http.put('data.json', data);
                const order = {
                    stockId: this.stock.id,
                    stockPrice: this.stock.price,
                    quantity: +this.quantity,
                    date: (new Date()).toLocaleDateString(),
                    time: new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds(),
                    type: "buy"
                };
                this.$store.dispatch('buyStock', order);
                this.quantity = 0;
            },
           async putTransaction() {
                const transaction = {
                    history: this.$store.getters.stockTransactions,
                };
                console.log("tran:", transaction.history)
                await this.$http.get('transaction.json')
                    .then(response => response.json())
                    .then(data => {
                        if(data != null){
                        transaction.history.push(...(data.history))
                        console.log("data:", data.history, transaction);
                        // this.$http.delete('transaction.json')
                        return data.history;
                        }
                        return;
                    })
                console.log("hist:", this.$store.getters.stockTransactions)    
                
                // this.$http.put('data.json', data);
               
                this.$http.put('transaction.json', transaction);
                console.log("calling stockEmpty")
                this.$store.getters.stockEmpty;
            }
        }
    }
</script>