<template>
    <fragment>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <router-link to="/" class="navbar-brand">Stock Trader</router-link>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <!-- <router-link to="/portfolio" activeClass="active" tag="li"><a>Portfolio</a></router-link> -->
                    <router-link to="/stocks" activeClass="active" tag="li"><a>Stocks</a></router-link>
                </ul>
                <strong class="navbar-text navbar-right">Funds: {{ funds | currency }}</strong>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" @click="endDay">End Day</a></li>
                    <li><a href="#" @click="transactionHistory" data-toggle="modal" data-target="#myModal">Transaction</a></li>
                    <!-- <li
                            class="dropdown"
                            :class="{open: isDropdownOpen}"
                            @click="isDropdownOpen = !isDropdownOpen">
                        <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false">Save & Load <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" @click="saveData">Save Data</a></li>
                            <li><a href="#" @click="loadData">Load Data</a></li>
                        </ul> -->
                    <!-- </li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

 <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Transaction History</h4>
        </div>
        <div class="modal-body">
          <!-- <p v-for="tran in tranHistory" :key="tran">{{ tran }}</p> -->
          <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Time</th>
                <th>type</th>
            </tr>
            </thead>
            <tbody v-for="tran in tranHistory" :key="tran">
            <tr>
                <td>{{ tran.name }}</td>
                <td>{{ tran.price }}</td>
                <td>{{ tran.quantity }}</td>
                <td>{{ tran.date }}</td>
                <td>{{ tran.time }}</td>
                <td>{{ tran.type}}</td>
            </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

</fragment>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        data() {
          return {
              isDropdownOpen: false,
              tranHistory: []
          }
        },
        computed: {
            funds() {
                return this.$store.getters.funds;
            }
        },
        methods: {
            ...mapActions({
                randomizeStocks: 'randomizeStocks',
                fetchData: 'loadData'
            }),
            endDay() {
                this.randomizeStocks();
            },
            async transactionHistory() {
                 await this.$http.get('transaction.json')
                    .then(response => response.json())
                    .then(data => {
                        if(data.history){
                            console.log("history::", data.history)
                            this.tranHistory = data.history
                        }
                        })
            },
           async saveData() {
                const data = {
                    funds: this.$store.getters.funds,
                    stockPortfolio: this.$store.getters.stockPortfolio,
                    stocks: this.$store.getters.stocks
                };
                // const transaction = {
                //     history: this.$store.getters.stockTransactions,
                // };
                // console.log("tran:", transaction.history)
                // await this.$http.get('transaction.json')
                //     .then(response => response.json())
                //     .then(data => {
                //         if(data != null){
                //         transaction.history.push(...(data.history))
                //         console.log("data:", data.history, transaction);
                //         // this.$http.delete('transaction.json')
                //         return data.history;
                //         }
                //         return;
                //     })
                // console.log("hist:", this.$store.getters.stockTransactions)    
                
                this.$http.put('data.json', data);
               
                // this.$http.put('transaction.json', transaction);
                // console.log("calling stockEmpty")
                // this.$store.getters.stockEmpty;
            },
            loadData() {
                this.fetchData();
            }
        }
    }
</script>